<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('dashboard') }}">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                </a>
            </li>
            {#<li class="nav-title">Theme</li>#}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('blog_post_index') }}">
                    <i class="nav-icon icon-drop"></i> Liste des articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('blog_post_new') }}">
                    <i class="nav-icon icon-pencil"></i> Créer un article</a>
            </li>
            {#<li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="nav-icon icon-pie-chart"></i> Charts</a>
            </li>#}

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>