@font-face {
  font-family: 'GothamBlack';
  src: url("../fonts/GothamBlack.ttf");
  font-weight: 900;
}
@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamBold.otf");
  font-weight: 700;
}
@font-face {
  font-family: 'GilroyRegular';
  src: url("../fonts/GilroyRegular.otf");
  font-weight: normal;
}
@font-face {
  font-family: 'GilroyBlack';
  src: url("../fonts/GilroyExtraBold.otf");
  font-weight: 900;
}
@font-face {
  font-family: 'GilroyLight';
  src: url("../fonts/GilroyLight.otf");
  font-weight: 300;
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

span.linedown{
  display: block;
  /*margin: 0 auto;*/
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 150px;
  width: 2px;
  background-color: #F72D9C;
}

nav{
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  & > figure{
    width: 20%;
    img{
      width: 65px;
    }
  }
  & > ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a{
      text-decoration: none;
    }
    li{
      font-family: 'GothamBlack', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    a.btn-discover{
      background-color: #F72D9C;
      /*background-color: #9A51F8;*/
      padding: 15px 40px 10px;
      border-radius: 5px;
    }
  }
}

header.header-home{
  width: 100%;
  height: 100vh;
  background: url("./asset/img/bg-header-site.png") no-repeat center fixed;
  background-size: cover;
  div.header-container{
    max-width: 1280px;
    margin: 0 auto;
    div.main-title{
      max-width: 988px;
      margin: 0 auto;
      h1{
        padding-top: 80px;
        font-family: "GothamBlack", sans-serif;
        font-size: 75px;
        color: #3CFCC7;
        line-height: 90px;
      }
      h2{
        text-align: left;
        max-width: 400px;
        font-family: "GothamBlack", sans-serif;
        font-size: 75px;
        color: #ffffff;
        line-height: 90px;
      }
    }
  }
}

section.explain{
  div.container{
    max-width: 988px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    figure{
      position: relative;
      width: 365px;
      height: 535px;
      img{
        position: absolute;
        top: -30px;
        left: 0px;
        width: 365px;
      }
    }
    h1, h2, p{
      padding-left: 80px;
      max-width: 600px;
    }
    h1{
      margin-top: 80px;
      font-family: "GothamBlack", sans-serif;
      font-size: 45px;
      line-height: 60px;
    }
    h2{
      font-family: "GothamBlack", sans-serif;
      font-size: 20px;
      line-height: 50px;
    }
    p{
      font-family: "GilroyRegular", sans-serif;
      font-size: 15px;
      line-height: 19.5px;
    }
  }
}

section h1.title{
  font-family: "GothamBlack", sans-serif;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

section.artistes{
  padding-top: 180px;
  width: 100%;
  background: url("./asset/img/groupe-nuages.png");
  background-repeat: no-repeat;
  background-size: cover;
  div.artistes-header{
    span{
      display: block;
      font-family: "GothamBold", sans-serif;
      font-size: 30px;
      text-align: center;
    }
  }
  div.container-artistes{
    /*background-color: #FFE8EF;*/
    article.artistes-content{
      max-width: 988px;
      margin: 0 auto 180px;
      padding-top: 80px;
      position: relative;
      &:last-of-type {
        margin: 0 auto 0px;
      }
      div.article-content-text{
        position: relative;
        width: 50%;
        background-color: #ffffff;
        padding: 60px 40px;
        border-radius: 5px;
        min-height: 440px;
        h1{
          max-width: 277px;
          font-family: "GothamBlack", sans-serif;
          font-size: 35px;
          text-transform: uppercase;
        }
        span{
          font-family: "GothamBlack", sans-serif;
          font-size: 20px;
        }
        h2{
          font-family: "GothamBold", sans-serif;
          font-size: 25px;
          line-height: 35px;
          margin-top: 30px;
          text-transform: uppercase;
        }
        time{
          font-family: 'GilroyRegular';
          font-size: 15px;
          line-height: 19.5px;
        }
        address{
          font-family: 'GilroyRegular';
          font-size: 15px;
          line-height: 19.5px;
        }
        & > a{
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translate(-50%, 50%);
          padding: 7px 40px;
          background-color: #9A51F8;
          font-family: "GothamBold", sans-serif;
          font-size: 15px;
          line-height: 18px;
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
          border-radius: 5px;
        }
      }
      figure{
        position: absolute;
        top: 120px;
        right: 0px;
        width: 540px;
        height: 481px;
        overflow: hidden;
        img{

        }
      }
    }
  }
}
section.objectif{
  padding-top: 280px;
  width: 100%;
  background: url("./asset/img/groupe-buildings.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  p{
    max-width: 550px;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
    font-family: 'GilroyRegular';
    font-size: 15px;
    line-height: 19.5px;
    strong{
      font-family: 'GilroyBlack';
      color:#9A51F8;
    }
  }
  div.btn-objectif{
    text-align: center;
    padding-bottom: 80px;
    a{
      padding: 7px 40px;
      background-color: #FF3A85;
      font-family: "GothamBold", sans-serif;
      font-size: 15px;
      text-decoration: none;
      border-radius: 5px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}

section.blog{
  background: url("./asset/img/violet-block.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  div.container-blog{
    max-width: 988px;
    margin: 0 auto;
    div.article-blog-bloc{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 80px;
      article{
        position: relative;
        max-width: 308px;
        background-color: #ffffff;
        border-radius: 5px;
        /*overflow: hidden;*/
        & > figure{
          position: relative;
          width: 308px;
          img{

          }
          & > span{
            width: 64px;
            height: 64px;
            overflow: hidden;
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 50%);
            /*border: 2px solid red;*/
            border-radius: 50%;
            img{
              width: 64px;
              height: auto;
            }
          }
        }
        & > span{
          display: block;
          margin: 40px 40px 0;
          font-family: "GothamBlack", sans-serif;
          font-size: 10px;
          text-align: center;
          line-height: 30px;
          text-transform: uppercase;
          border-bottom: 1px solid #3CFCC7;
        }
        h1{
          font-family: "GothamBold", sans-serif;
          font-size: 25px;
          text-align: center;
          padding: 30px 20px;
        }
        p{
          font-family: 'GilroyRegular';
          font-size: 15px;
          line-height: 19.5px;
          padding: 0 20px 40px;
        }
        & > a{
          padding: 7px 40px;
          background-color: #9A51F8;
          font-family: "GothamBold", sans-serif;
          font-size: 15px;
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translate(-50%, 50%);
          border-radius: 5px;
        }
      }
    }
  }
  div.btn-parcourir-blog{
    /*background: url("./asset/img/ondas-violet.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    padding: 120px 0 180px;
    text-align: center;
    a{
      padding: 7px 40px;
      background-color: #FF3A85;
      font-family: "GothamBold", sans-serif;
      font-size: 15px;
      text-decoration: none;
      border-radius: 5px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}

section.contact{
  div.container-contact{
    max-width: 988px;
    margin: 0 auto;
    background: url("./asset/img/cadre-contact.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0 0 80px;
    h1{
      padding-top: 120px;
    }
    div.contact-bloc{
      /*margin: 80px 0;*/
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 80px 0 60px;
      /*padding-bottom: 180px;*/
      & > div{
        width: 50%;
        text-align: center;
        &:first-child{
          border-right: 2px solid #3CFCC7;
        }
        h3{
          font-family: "GothamBold", sans-serif;
          font-size: 25px;
          padding-bottom: 30px;
        }
        p{
          max-width: 418px;
          margin: 0 auto;
          font-family: 'GilroyRegular';
          font-size: 15px;
          line-height: 19.5px;
          padding: 0 60px;
        }
        a{
          display: inline-block;
          margin-top: 60px;
          padding: 7px 40px;
          background-color: #FF3A85;
          font-family: "GothamBold", sans-serif;
          font-size: 15px;
          text-decoration: none;
          border-radius: 5px;
          color: #ffffff;
          text-transform: uppercase;
        }
        a.btn-souvenir{
          margin-top: 79px;
        }
      }
    }
  }
}




.underline--magical {
  text-decoration: none;
  background-image: linear-gradient(120deg, #3CFCC7 0%, #3CFCC7 100%);
  background-repeat: no-repeat;
  background-size: 70% 0.5em;
  background-position: 100% 100%;
  transition: background-size 0.25s ease-in;
  /*&:hover {
    background-size: 100% 88%;
  }*/
}

.underline--magical--two {
  text-decoration: none;
  background-image: linear-gradient(120deg, #D9CCF2 0%, #D9CCF2 100%);
  background-repeat: no-repeat;
  background-size: 85% 0.5em;
  background-position: 100% 100%;
  transition: background-size 0.25s ease-in;
  /*&:hover {
    background-size: 100% 88%;
  }*/
}


header.header-artiste {
  width: 100%;
  min-height: 350px;
  background: url("./asset/img/artiste-img-sample-page.png") no-repeat;
  /*background-size: cover;*/
  background-size: 100%;
  position: relative;
  div.header-container{
    max-width: 1280px;
    margin: 0 auto;
    div.main-title-artiste{
      text-align: center;
      h1{
        font-family: "GothamBold", sans-serif;
        font-size: 35px;
        color: #ffffff;
        text-transform: uppercase;
        padding-top: 40px;
      }
      span.trace{
        display: block;
        margin: 20px auto;
        width: 128px;
        height: 2px;
        background-color: #ffffff;
      }
      /*span.fans{
        display: block;
        font-family: "GothamBold", sans-serif;
        font-size: 15px;
        color: #ffffff;
        padding: 0 0 80px;
      }*/
    }
    & > figure{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      border: none;
      img{
        width: 100px;
        height: auto;
      }
    }
  }
}



section.artiste-infos{
  width: 100%;
  background: url("./asset/img/groupe-nuages.png");
  background-repeat: no-repeat;
  background-size: cover;
  div.artiste-infos-content{
    max-width: 988px;
    margin: 80px auto 0;
    ul{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li{
        font-family: "GothamBlack", sans-serif;
        font-size: 20px;
        padding: 0 15px 20px;
        a{
          text-decoration: none;
          text-transform: uppercase;
          color: #000000;
        }
      }
      li.active{
        border-bottom: 5px solid #9A51F8;
      }
    }
  }

  .block-changable{
/*    display: flex;
    flex-direction: column;*/
    .block-changable-evenement{
      position: relative;
      display: none;
      flex-direction: row;
      padding: 60px;
      margin-top: 40px;
      background-color: #ffffff;
      box-shadow: 0 4px 8px 0 rgba(218, 199, 247, 0.2), 0 6px 20px 0 rgba(218, 199, 247, 0.2);
      border-radius: 5px;
      .block-changable-evenement-date{
        width: 200px;
        height: 117px;
        border: 2px solid #F72D9C;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*padding: 20px;*/
        text-align: center;
        span.mount{
          font-family: "GothamBold", sans-serif;
          font-size: 25px;
          text-transform: uppercase;
        }
        span.day{
          font-family: "GothamBold", sans-serif;
          font-size: 50px;
          text-transform: uppercase;
        }
      }
      .block-changable-evenement-content{
        padding-left: 40px;
        h1{
          font-family: "GothamBold", sans-serif;
          font-size: 35px;
          text-transform: uppercase;
        }
        span{
          display: block;
          font-family: 'GilroyLight', sans-serif;
          font-size: 15px;
          padding: 10px 0 30px;
        }
        adress{
          position: relative;
          display: block;
          font-family: 'GilroyLight', sans-serif;
          font-size: 15px;
          padding: 10px 0 0 30px;
          &:before{
            position: absolute;
            left: 0px;
            top:7px;
            width: 15px;
            height: 18.83px;
            content: ' ';
            background-image: url("./asset/img/location.svg");
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        time{
          position: relative;
          display: block;
          font-family: 'GilroyLight', sans-serif;
          font-size: 15px;
          padding: 20px 0 0 30px;
          &:before{
            position: absolute;
            left: 0px;
            top:18px;
            width: 15px;
            height: 15px;
            content: ' ';
            background-image: url("./asset/img/date.svg");
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        p{
          font-family: 'GilroyLight', sans-serif;
          font-size: 15px;
          line-height: 18px;
          padding-top: 20px;
          padding-left: 30px;
        }
        a.btn-igo{
          display: block;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 50%);
          bottom: 0;
          font-family: "GothamBold", sans-serif;
          font-size: 15px;
          text-transform: uppercase;
          background-color: #172CF8;
          color: #ffffff;
          text-decoration: none;
          padding: 10px 60px;
          border-radius: 5px;
        }
      }
    }
  }
}

.block-changable-bio {
  padding: 60px;
  margin-top: 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(218, 199, 247, 0.2), 0 6px 20px 0 rgba(218, 199, 247, 0.2);
  border-radius: 5px;
  .block-changable-bio-content{
    h1{
      font-family: "GothamBlack", sans-serif;
      font-size: 45px;
      text-transform: uppercase;
    }
    p{
      font-family: 'GilroyLight', sans-serif;
      font-size: 15px;
      line-height: 24px;
      padding-top: 40px;
    }
  }
}

.block-changable-photos{
  display: none;
  .block-changable-photos-unity{
    padding-top: 30px;
    display: flex;;
    flex-direction: row;
    flex-wrap: wrap;
    .unity{
      margin: 1%;
      width: 18%;
    }
  }
}

.block-changable-video{
  display: none;
  .block-changable-video-unity{
    padding-top: 30px;
    display: flex;;
    flex-direction: row;
    flex-wrap: wrap;
    .unity{
      margin: 1%;
      width: 48%;
    }
  }
}

section.objectif-meloven{
  padding-top: 280px;
  width: 100%;
  background: url("./asset/img/groupe-buildings.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  div.objectif-meloven-content{
    max-width: 988px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 120px;
    h1{
      /*padding-top: 120px;*/
      font-family: "GothamBlack", sans-serif;
      font-size: 45px;
    }
    p{
      padding: 40px 0 80px;
      font-family: 'GilroyLight', sans-serif;
      font-size: 20px;
      line-height: 35px;
    }
    a{
      display: inline-block;
      font-family: "GothamBlack", sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      background-color: #FF3A85;
      padding: 10px 40px;
      border-radius: 5px;
    }
  }
}


#signup{
  display: none;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  input{
    margin: 0;
    display: block;
  }
  input[type="email"]{
    padding: 10px 20px;
    border-radius: 5px;
    width: 400px;
  }
  input[type="submit"]{
    background-color: #3CFCC7;
    font-family: "GothamBold", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    margin-left: -40px;
  }
}
#successMessage{
  display: none;
  background-color: #00a65a;
  color: #ffffff;
  font-family: "GothamBlack", sans-serif;
  font-size: 15px;
  padding: 15px 30px 10px;
}