/* ***************************** VARIABLES ***************************** */
/* ********************************************************************* */
$titles: 'GothamBlack', sans-serif;
$break-small: 600px;
$break-big: 1066px;
$rose : #FF3A85;
$btn-color : blue !default;
/* ********************************************************************* */
/* ********************************************************************* */
body{
  overflow-x: hidden;
}
@mixin btn-color($btn-color){
  div.div-btn{
    /*display: block;
    height: 100%;*/
    text-align: center;
    .button {
      -webkit-font-smoothing: antialiased;
      background-color: $btn-color;
      border: none;
      color: #fff;
      display: inline-block;
      font-family: "GothamBold", sans-serif;
      font-size: 15px;
      font-weight: 100;
      text-decoration: none;
      user-select: none;
      letter-spacing: 3px;
      color: white;
      padding: 11.5px 40px;
      text-transform: uppercase;
      transition: all 0.1s ease-out;
      border-radius: 5px;

      &:hover {
        background-color: $btn-color;
        color: #fff;
      }

      &:active {
        transform: scale(0.95);
      }

      &--bubble {
        position: relative;
        z-index: 1;
        color: white;
        background: none;

        &:hover {
          background: none;
        }

        &:hover + .button--bubble__effect-container .circle {
          background: darken($btn-color, 15%);
        }

        &:hover + .button--bubble__effect-container .button {
          background: darken($btn-color, 15%);
        }

        &:active + .button--bubble__effect-container {
          transform: scale(0.95);
        }

        &__container {
          position: relative;
          display: inline-block;

          .effect-button {
            position: absolute;
            width: 50%;
            height: 25%;
            top: 50%;
            left: 25%;
            z-index: 1;
            transform: translateY(-50%);
            background: $btn-color;
            transition: background 0.1s ease-out;
          }
        }
      }
    }

    .button--bubble__effect-container {
      position: absolute;
      display: block;
      width: 200%;
      height: 400%;
      top: -150%;
      left: -50%;
      -webkit-filter: url("#goo");
      filter: url("#goo");
      transition: all 0.1s ease-out;
      pointer-events: none;

      .circle {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        background: $btn-color;
        transition: background 0.1s ease-out;

        &.top-left {
          top: 40%;
          left: 27%;
        }

        &.bottom-right {
          bottom: 40%;
          right: 27%;
        }
      }
    }

    .goo {
      position: absolute;
      visibility: hidden;
      width: 1px;
      height: 1px;
    }
    .button--bubble__container {
      top: 50%;
      margin-top: -25px;
    }
  }
}

@font-face {
  font-family: 'GothamBlack';
  src: url("../fonts/GothamBlack.ttf");
  font-weight: 900;
}
@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamBold.otf");
  font-weight: 700;
}
@font-face {
  font-family: 'GilroyRegular';
  src: url("../fonts/GilroyRegular.otf");
  font-weight: normal;
}
@font-face {
  font-family: 'GilroyBlack';
  src: url("../fonts/GilroyExtraBold.otf");
  font-weight: 900;
}
@font-face {
  font-family: 'GilroyLight';
  src: url("../fonts/GilroyLight.otf");
  font-weight: 300;
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
  text-align: center;
  @media screen and (max-width: $break-big) {
    bottom: 12%;
  }
}
.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

span.linedown{
  display: block;
  /*margin: 0 auto;*/
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 150px;
  width: 2px;
  background-color: $rose;
  @media screen and (max-width: $break-big) {
    /*height: 100px;*/
    bottom: 0%;
  }
}

div.mobile-nav{
  z-index: 20;
  position: fixed;
  background-color: $rose;
  height: 50px;
  width: 100%;
  display: none;
  @media screen and (max-width: $break-big) {
    display: block;
  }
  div.mobile-nav-logo{
    img{
      width: 60px;
      padding: 15px 0 0 20px;
    }
  }
}
div.burger-menu{
  @media screen and (min-width: $break-big) {
    display: none;
  }
  label {
    .menu {
      position: fixed;
      right: 0;
      top: -110px;
      z-index: 100;
      width: 100px;
      height: 200px;
      background: transparent;
      border-radius: 50% 50% 50% 50%;
      transition: .5s ease-in-out;
      box-shadow: transparent, transparent;
      cursor: pointer;
    }
    .hamburger {
      position: absolute;
      top: 135px;
      left: 50px;
      width: 30px;
      height: 2px;
      background: #ffffff;
      display: block;
      transform-origin: center;
      transition: .5s ease-in-out;
      &:after,
      &:before {
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #ffffff;
      }
      &:before {
        top: -10px;
      }
      &:after {
        bottom: -10px;
      }
    }
    input {
      display: none;
    }
    input:checked + .menu {
      box-shadow: 0 0 0 100vw $rose, 0 0 0 100vh $rose;
      background: $rose;
      border-radius: 0;
      .hamburger {
        transform: rotate(45deg);
        &:after {
          transform: rotate(90deg);
          bottom: 0;
        }
        &:before {
          transform: rotate(90deg);
          top: 0;
        }
      }
    }

    input:checked + .menu + ul {
      z-index: 200;
      opacity: 1;
      position:  fixed;
    }

    & > ul {
      z-index: -200;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,50%);
      opacity: 0;
      transition: opacity 0.5s;
      /*transition: .25s 0s ease-in-out;*/
    }

    a {
      text-align: center;
      text-decoration: none;
      font-family: $titles;
      font-size: 15px;
      color: #ffffff;
      margin-bottom: 5px;
      display: block;
      padding: 20px 0;
    }
  }
}


nav{
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: $break-big) {
    display: none;
  }
  & > figure{
    width: 25%;
    img{
      width: 65px;
    }
  }
  & > ul{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    a{
      text-decoration: none;
      margin-left: 35px;
    }
    li{
      font-family: 'GothamBlack', sans-serif;
      font-size: 12px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #FFFFFF;
      transition: color .2s ease-in-out;
      &:hover{
        color: rgba(45, 45, 45, .4);
      }
    }
    @include btn-color($rose);
    .div-btn{
      margin-top: 6px;
      text-align: center;
      margin-left: 30px;

      span a{
        margin: 0 auto;
        font-family: 'GothamBlack', sans-serif !important;
        font-size: 12px !important;
        letter-spacing: 3px !important;
        padding: 14.5px 30px 10.5px !important;
      }
      @media screen and (max-width: $break-big) {
        left: 50%;
        transform: translate(-50%, 50%);
      }
    }
    /*a.btn-discover{
       background-color: $rose;
       !*background-color: #9A51F8;*!
       padding: 15px 40px 10px;
       border-radius: 5px;
       margin-top: -5px;
     }*/
  }
}

header.header-home{
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("./asset/img/bg-header-site.jpg") no-repeat center fixed;
  background-size: cover;
  @media screen and (max-width: $break-big) {
    height: 550px;
    background: url("./asset/img/bg-header-site-mobile.jpg") no-repeat center fixed;
    background-size: contain;
    background-position: top;
  }
  div.header-container{
    max-width: 1280px;
    margin: 0 auto;
    div.main-title{
      max-width: 988px;
      margin: 0 auto;
      @media screen and (max-width: $break-big) {
        padding: 0 20px 0 40px;
      }
      h1{
        padding-top: 80px;
        font-family: "GothamBlack", sans-serif;
        font-size: 75px;
        color: #3CFCC7;
        line-height: 100px;
        letter-spacing: 10px;
        text-transform: uppercase;
        @media screen and (max-width: $break-big) {
          font-size: 25px;
        }
      }
      h2{
        text-align: left;
        max-width: 600px;
        font-family: "GothamBlack", sans-serif;
        font-size: 75px;
        color: #ffffff;
        line-height: 100px;
        letter-spacing: 10px;
        text-transform: uppercase;
        @media screen and (max-width: $break-big) {
          font-size: 25px;
          line-height: 40px;
        }
      }
    }
  }
}

section.explain{
  div.container{
    position: relative;
    max-width: 988px;
    margin: 0 auto 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @media screen and (max-width: $break-big) {
      flex-direction: column;
      justify-content: normal;
    }
    /*figure{
      position: relative;
      width: 365px;
      height: 535px;
      padding-top: 40px;
      @media screen and (max-width: $break-big) {
        display: none;
      }
      img{
        position: absolute;
        top: 40px;
        left: 0px;
        width: 365px;
      }
    }*/
    video{
      /*display: block;*/
      position: absolute;
      top:20px;
      left: 0px;
      width: 400px;
      /*height: 200px;*/
      @media screen and (max-width: $break-big) {
        display: none;
      }
    }
    div{
      float: right;
      max-width: 600px;
      @media screen and (max-width: $break-big) {
        padding: 0 20px;
        float: left;
      }
      h1, h2, p,br{

      }
      h1{
        margin-top: 80px;
        font-family: "GothamBlack", sans-serif;
        font-size: 45px;
        line-height: 60px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: right;
        @media screen and (max-width: $break-big) {
          font-size: 30px;
          line-height: 35px;
          text-align: left;
          margin-top: 100px;
        }
      }
      h2{
        font-family: "GothamBlack", sans-serif;
        font-size: 20px;
        /*line-height: 50px;*/
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: right;
        line-height: 30px;
        padding: 20px 0 40px 0;
        @media screen and (max-width: $break-big) {
          font-size: 15px;
          line-height: 20px;
          padding: 10px 0px 20px;
          text-align: left;
        }
      }
      p{
        font-family: "GilroyRegular", sans-serif;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 3px;
        text-align: right;
        @media screen and (max-width: $break-big) {
          font-size: 15px;
          line-height: 18px;
          text-align: left;
        }
      }
    }
  }
}

section h1.title{
  font-family: "GothamBlack", sans-serif;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: $break-big) {
    font-size: 30px;
    line-height: 30px;
    padding: 0 20px;
  }
}

section.artistes{
  padding-top: 120px;
  width: 100%;
  background: url("./asset/img/groupe-nuages.png");
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: $break-big) {
    padding-top: 100px;
  }
  div.artistes-header{
    span{
      display: block;
      font-family: "GothamRegular", sans-serif;
      font-size: 30px;
      font-style: italic;
      letter-spacing: 5px;
      text-align: center;
      @media screen and (max-width: $break-big) {
        font-size: 20px;
      }
    }
  }
  div.container-artistes{
    /*background-color: #FFE8EF;*/
    @media screen and (max-width: $break-big) {
      padding: 0 20px;
    }
    article.artistes-content{
      max-width: 988px;
      margin: 0 auto 120px;
      padding-top: 80px;
      position: relative;
      @media screen and (max-width: $break-big) {
        margin: 60px 0;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        &:first-of-type {
          margin-top: 40px;
        }
      }
      &:last-of-type {
        margin: 0 auto 0px;
      }
      div.article-content-text{
        position: relative;
        width: 50%;
        background-color: #ffffff;
        padding: 50px 40px 0 45px;
        border-radius: 5px;
        min-height: 440px;
        box-shadow: 0 4px 8px 0 rgba(45, 45, 45, .2), 0 6px 20px 0 rgba(45, 45, 45, .2);
        @media screen and (max-width: $break-big) {
          width: 100%;
          min-height: auto;
          padding: 20px 20px 40px;
          order: 2;
        }
        h1{
          max-width: 277px;
          font-family: "GothamBlack", sans-serif;
          font-size: 35px;
          line-height: 35px;
          letter-spacing: 5px;
          text-transform: uppercase;
        }
        span{
          font-family: "GothamBlack", sans-serif;
          font-size: 20px;
        }
        h2{
          font-family: "GothamBold", sans-serif;
          font-size: 25px;
          line-height: 35px;
          margin-top: 30px;
          text-transform: uppercase;
        }
        time{
          font-family: 'GilroyRegular';
          font-size: 15px;
          line-height: 19.5px;
        }
        address{
          font-family: 'GilroyRegular';
          font-size: 15px;
          line-height: 19.5px;
        }
        p{
          font-family: 'GilroyRegular';
          font-size: 15px;
          line-height: 19.5px;
          letter-spacing: 3px;
          padding: 20px 50px 0 0;
          @media screen and (max-width: $break-big) {
            padding: 5px 0 20px 0;
          }
        }
        @include btn-color(#9A51F8);
        .div-btn{
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translate(-50%, 50%);
          /*left: 40%;
          transform: translate(-40%, 50%);*/
          /*@media screen and (max-width: $break-big) {
            left: 50%;
            transform: translate(-50%, 50%);
          }*/
        }
        /*& > a{
          width: 178px;
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translate(-50%, 50%);
          padding: 9.5px 0;
          background-color: #9A51F8;
          font-family: "GothamBold", sans-serif;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 3px;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
          border-radius: 5px;
        }*/
      }
      figure{
        position: absolute;
        top: 120px;
        right: 0px;
        width: 540px;
        height: 481px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(45, 45, 45, .2), 0 6px 20px 0 rgba(45, 45, 45, .2);
        @media screen and (max-width: $break-big) {
          position: relative;
          top: 0;
          width: auto;
          max-width: 540px;
          height: auto;
          order: 1;
        }
        img{
          transition: all .3s ease-in-out;
          &:hover{
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
section.objectif{
  padding-top: 280px;
  width: 100%;
  background: url("./asset/img/bg/city-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  @media screen and (max-width: $break-big) {
    padding-top: 120px;
  }
  h1{
    max-width: 988px;
    margin: 0 auto;
  }
  p{
    max-width: 844px;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
    font-family: 'GilroyLight';
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 3px;
    @media screen and (max-width: $break-big) {
      padding: 40px 20px;
      font-size: 15px;
      line-height: 25px;
    }
    strong{
      font-family: 'GilroyBlack';
      color:#9A51F8;
    }
  }
  div.btn-objectif{
    text-align: center;
    padding-bottom: 80px;
    a{
      padding: 7px 40px;
      background-color: $rose;
      font-family: "GothamBold", sans-serif;
      font-size: 15px;
      letter-spacing: 3px;
      text-decoration: none;
      border-radius: 5px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}

section.blog{
  background: url("./asset/img/violet-block.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  padding-top: 80px;
  @media screen and (max-width: $break-big) {
    padding-top: 40px;
  }
  div.container-blog{
    max-width: 988px;
    margin: 0 auto;
    div.article-blog-bloc{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 80px;
      @media screen and (max-width: $break-big) {
        flex-direction: column;
        padding: 40px 20px 0;
      }
      article{
        position: relative;
        max-width: 308px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(45, 45, 45, .2), 0 6px 20px 0 rgba(45, 45, 45, .2);
        @media screen and (max-width: $break-big) {
          width: 100%;
          max-width: none;
          margin-bottom: 60px;
          box-shadow: 0 4px 8px 0 rgba(218, 199, 247, 0.2), 0 6px 20px 0 rgba(218, 199, 247, 0.2);
        }
        /*overflow: hidden;*/
        & > figure{
          position: relative;
          width: 308px;
          @media screen and (max-width: $break-big) {
            width: 100%;
          }
          img{

          }
          & > span{
            width: 64px;
            height: 64px;
            overflow: hidden;
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 50%);
            /*border: 2px solid red;*/
            border-radius: 50%;
            img{
              width: 64px;
              height: auto;
            }
          }
        }
        & > span{
          display: block;
          margin: 40px 40px 0;
          font-family: "GothamBlack", sans-serif;
          font-size: 10px;
          letter-spacing: 3px;
          text-align: center;
          line-height: 30px;
          text-transform: uppercase;
          border-bottom: 1px solid #3CFCC7;
        }
        h1{
          font-family: "GothamBlack", sans-serif;
          font-size: 25px;
          line-height: 35px;
          letter-spacing: 2px;
          text-align: center;
          text-transform: uppercase;
          padding: 30px 20px;
        }
        p{
          font-family: 'GilroyLight';
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 3px;
          padding: 0 20px 50px;
        }
        @include btn-color(#9A51F8);
        .div-btn{
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translate(-50%, 50%);
        }
        /*& > a{
          width: 178px;
          padding: 11px 0;
          background-color: #9A51F8;
          font-family: "GothamBold", sans-serif;
          font-size: 15px;
          text-align: center;
          letter-spacing: 3px;
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translate(-50%, 50%);
          border-radius: 5px;
        }*/
      }
    }
  }
  div.btn-parcourir-blog{
    /*background: url("./asset/img/ondas-violet.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    padding: 120px 0 180px;
    text-align: center;
    @media screen and (max-width: $break-big) {
      padding: 40px 0 0px;
    }
    @include btn-color($rose);
    /*a{
      padding: 11px 40px;
      background-color: $rose;
      font-family: "GothamBold", sans-serif;
      font-size: 15px;
      letter-spacing: 3px;
      text-decoration: none;
      border-radius: 5px;
      color: #ffffff;
      text-transform: uppercase;
    }*/
  }
}

section.contact{
  margin-bottom: 20px;
  div.container-contact{
    max-width: 988px;
    height: 700px;
    margin: 0 auto;
    background: url("./asset/img/cadre-contact.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 20px 0 80px;
    @media screen and (max-width: $break-big) {
      background: none;
    }
    h1{
      padding-top: 120px;
      letter-spacing: 5px;
      @media screen and (max-width: $break-big) {
        padding-top: 60px;
      }
    }
    div.contact-bloc{
      /*margin: 80px 0;*/
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 80px 0 60px;
      /*padding-bottom: 180px;*/
      @media screen and (max-width: $break-big) {
        flex-direction: column;
        padding: 60px 20px 20px;
      }
      & > div{
        width: 50%;
        text-align: center;
        &:first-child{
          border-right: 2px solid #3CFCC7;
          @media screen and (max-width: $break-big) {
            border: none;
          }
        }
        @media screen and (max-width: $break-big) {
          width: 100%;
        }
        h3{
          font-family: "GothamBold", sans-serif;
          font-size: 25px;
          padding-bottom: 30px;
          letter-spacing: 3px;
          text-transform: uppercase;
          @media screen and (max-width: $break-big) {
            font-size: 13px;
          }
        }
        p{
          max-width: 418px;
          margin: 0 auto;
          font-family: 'GilroyRegular';
          font-size: 15px;
          line-height: 19.5px;
          letter-spacing: 2px;
          padding: 0 60px;
          @media screen and (max-width: $break-big) {
            font-size: 12px;
            line-height: 14px;
            padding: 0 30px;
          }
        }
        @include btn-color($rose);
        div.div-btn{
          margin-top: 60px;
        }
        /*a{
          display: inline-block;
          margin-top: 60px;
          padding: 11px 40px;
          background-color: $rose;
          font-family: "GothamBold", sans-serif;
          font-size: 15px;
          text-decoration: none;
          border-radius: 5px;
          color: #ffffff;
          text-transform: uppercase;
          @media screen and (max-width: $break-big) {
            margin-top: 20px;
          }
        }*/
        a.btn-souvenir{
          /*margin-top: 79px;*/
          @media screen and (max-width: $break-big) {
            /*margin-top: 20px;
            margin-bottom: 80px;*/
          }
        }
      }
    }
  }
}

#realisez h3{
  @media screen and (max-width: $break-big) {
    margin-top: 80px;
  }
}


footer{
  padding: 60px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7bf8cf+0,dff7ec+100 */
  background: $rose; /* Old browsers */
  margin-top: 80px;
  @media screen and (max-width: $break-big) {
    margin-top: 0px;
  }
  div.footer-wrapper{
    max-width: 1020px;
    margin: 0 auto;
    h1.footer-logo{
      text-align: left;
      @media screen and (max-width: $break-big) {
        text-align: center;
      }
      img{
        width: 70px;
        height: auto;
      }
    }
    div.mailchimp-wrapper{
      @media screen and (max-width: $break-big) {
        padding: 0 20px;
      }
    }

    div.footer-bottom{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 60px;
      @media screen and (max-width: $break-big) {
        flex-direction: column;
      }
      div.footer-menu{
        @media screen and (max-width: $break-big) {
          order: 2;
          padding: 40px 20px 0;
        }
        ul{
          li a{
            display: block;
            font-family: $titles;
            font-size: 15px;
            color: #ffffff;
            padding: 10px 0;
            text-decoration: none;
            @media screen and (max-width: $break-big) {
              text-align: center;
            }
          }
        }
      }
      div.footer-rs{
        width: 338px;
        @media screen and (max-width: $break-big) {
          width: 100%;
          max-width: 350px;
          margin: 0 auto;
          order: 1;
        }
        h1{
          font-family: $titles;
          font-size: 17px;
          color: #ffffff;
          text-align: center;
        }
        ul{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin-top: 30px;
          li a img{
            width: 48px;
            height: auto;
          }
        }
      }
    }
  }
}


.underline--magical {
  text-decoration: none;
  background-image: linear-gradient(120deg, #3CFCC7 0%, #3CFCC7 100%);
  background-repeat: no-repeat;
  background-size: 70% 0.5em;
  background-position: 100% 100%;
  transition: background-size 0.25s ease-in;
  /*&:hover {
    background-size: 100% 88%;
  }*/
}

.underline--magical--two {
  text-decoration: none;
  background-image: linear-gradient(120deg, #D9CCF2 0%, #D9CCF2 100%);
  background-repeat: no-repeat;
  background-size: 85% 0.5em;
  background-position: 100% 100%;
  transition: background-size 0.25s ease-in;
  /*&:hover {
    background-size: 100% 88%;
  }*/
}


header.header-artiste {
  position: relative;
  width: 100%;
  min-height: 350px;
  background-image: url("./asset/img/artiste-img-sample-page.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*filter:drop-shadow(8px 8px 10px black);*/
  /*filter:grayscale(100%);*/
 /* background-size: 100%;
  position: relative;*/
  @media screen and (max-width: $break-big) {
    min-height: 364px;
    /*background-size: cover;*/
  }
  div.header-container{
    max-width: 1280px;
    margin: 0 auto;
    div.main-title-artiste{
      text-align: center;
      h1{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-family: "GothamBold", sans-serif;
        font-size: 35px;
        line-height: 35px;
        letter-spacing: 5px;
        color: #ffffff;
        text-transform: uppercase;
        /*padding-top: 40px;*/
        @media screen and (max-width: $break-big) {
          /*padding-top: 100px;*/
          text-shadow: 2px 2px 2px #2d2d2d;
        }
      }
      span.trace{
        display: block;
        margin: 20px auto;
        width: 128px;
        height: 2px;
        background-color: #ffffff;
      }
      /*span.fans{
        display: block;
        font-family: "GothamBold", sans-serif;
        font-size: 15px;
        color: #ffffff;
        padding: 0 0 80px;
      }*/
    }
    & > figure{
      /*background: url("./asset/img/pattern.png") 0 0;*/
      /*background-image: url("./asset/img/pattern.png");*/
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      border: none;
      img{
        width: 100px;
        height: auto;
      }
    }
  }
}

section.artiste-rs{
  ul{
    /*width: 200px;
    margin: 0 auto;*/
    text-align: center;
    li{
      display: inline-block;
      padding:60px 20px 0;
      img{
      }
      img.facebook-rose{
        width: 12px;
      }
      img.youtube-rose{
        width: 23px;
      }
      img.twitter-rose{
        width: 24px;
      }
      img.instagram-rose{
        width: 24px;
      }
    }
  }
}

section.artiste-infos{
  width: 100%;
  /*background: url("./asset/img/bg/rose-nuage-bg.png");*/
  background: url("./asset/img/back-artiste-rose-V2.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  div.artiste-infos-content{
    max-width: 988px;
    margin: 80px auto 0;
    ul{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: $break-big) {
        overflow: scroll;
        padding: 0 20px;
      }
      li{
        font-family: "GothamBlack", sans-serif;
        font-size: 20px;
        letter-spacing: 3px;
        padding: 0 15px 20px;
        a{
          text-decoration: none;
          text-transform: uppercase;
          color: #000000;
        }
      }
      li.active{
        border-bottom: 5px solid #9A51F8;
      }
    }
  }

  .block-changable{
/*    display: flex;
    flex-direction: column;*/
    @media screen and (max-width: $break-big) {
      padding: 0 20px;
    }
    .block-changable-evenement{
      position: relative;
      display: none;
      flex-direction: row;
      padding: 60px;
      margin-top: 40px;
      background-color: #ffffff;
      box-shadow: 0 4px 8px 0 rgba(218, 199, 247, 0.2), 0 6px 20px 0 rgba(218, 199, 247, 0.2);
      border-radius: 5px;
      @media screen and (max-width: $break-big) {
        padding: 20px;
      }
      P.no-content{
        font-family: "GothamBold", sans-serif;
        font-size: 25px;
        letter-spacing: 3px;
      }
      .block-changable-evenement-date{
        width: 200px;
        height: 117px;
        padding: 30px;
        border: 2px solid $rose;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*padding: 20px;*/
        @media screen and (max-width: $break-big) {
          position: absolute;
          padding: 0;
          width: 54px;
          height: 54px;
        }
        text-align: center;
        span.mount{
          font-family: "GothamBold", sans-serif;
          font-size: 25px;
          text-transform: uppercase;
          @media screen and (max-width: $break-big) {
            font-size: 13px;
          }
        }
        span.day{
          font-family: "GothamBold", sans-serif;
          font-size: 50px;
          text-transform: uppercase;
          @media screen and (max-width: $break-big) {
            font-size: 13px;
          }
        }
      }
      .block-changable-evenement-content{
        padding-left: 40px;
        @media screen and (max-width: $break-big) {
          padding-left: 0;
        }
        h1{
          font-family: "GothamBold", sans-serif;
          font-size: 35px;
          line-height: 35px;
          letter-spacing: 3px;
          text-transform: uppercase;
          @media screen and (max-width: $break-big) {
            font-size: 15px;
            line-height: 20px;
            padding-left: 65px;
          }
        }
        span{
          display: block;
          font-family: 'GilroyLight', sans-serif;
          font-size: 15px;
          letter-spacing: 3px;
          padding: 10px 0 30px;
          @media screen and (max-width: $break-big) {
            font-size: 13px;
            padding-left: 65px;
          }
        }
        adress{
          position: relative;
          display: block;
          font-family: 'GilroyLight', sans-serif;
          font-size: 15px;
          letter-spacing: 3px;
          padding: 10px 0 0 30px;
          &:before{
            position: absolute;
            left: 0px;
            top:7px;
            width: 15px;
            height: 18.83px;
            content: ' ';
            background-image: url("./asset/img/location.svg");
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        time{
          position: relative;
          display: block;
          font-family: 'GilroyLight', sans-serif;
          font-size: 15px;
          letter-spacing: 3px;
          padding: 20px 0 0 30px;
          &:before{
            position: absolute;
            left: 0px;
            top:18px;
            width: 15px;
            height: 15px;
            content: ' ';
            background-image: url("./asset/img/date.svg");
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        p{
          font-family: 'GilroyLight', sans-serif;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 3px;
          padding-top: 20px;
          padding-left: 30px;
          @media screen and (max-width: $break-big) {
            padding-bottom: 20px;
          }
        }
        a.btn-igo{
          display: block;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 50%);
          bottom: 0;
          font-family: "GothamBold", sans-serif;
          font-size: 15px;
          text-align: center;
          text-transform: uppercase;
          background-color: #172CF8;
          color: #ffffff;
          text-decoration: none;
          padding: 10px 60px;
          border-radius: 5px;
          @media screen and (max-width: $break-big) {
            padding: 10px 30px;
          }
        }
      }
    }
  }
}

.block-changable-bio {
  padding: 60px;
  margin-top: 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(218, 199, 247, 0.2), 0 6px 20px 0 rgba(218, 199, 247, 0.2);
  border-radius: 5px;
  @media screen and (max-width: $break-big) {
    padding: 20px;
  }
  .block-changable-bio-content{
    h1{
      font-family: "GothamBlack", sans-serif;
      font-size: 45px;
      letter-spacing: 3px;
      text-transform: uppercase;
      @media screen and (max-width: $break-big) {
        font-size: 15px;
      }
    }
    div{
      padding-top: 40px;
      @media screen and (max-width: $break-big) {
        padding-top: 20px;
      }
      p{
        font-family: 'GilroyLight', sans-serif;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 3px;
        padding-bottom: 10px;
        strong{
          font-family: 'GilroyBlack', sans-serif;
        }
        em{
          font-style: italic;
        }
        a{
          font-family: 'GilroyBlack', sans-serif;
          text-decoration: none;
          color: $rose;
        }
      }
    }
  }
}

.block-changable-photos{
  display: none;
  .block-changable-photos-unity{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .unity{
      position: relative;
      margin: 1%;
      width: 31%;
      overflow: hidden;
      &:before{
        content: "";
        display: block;
        padding-top: 100%;  /* ratio of 1:1*/
      }
      @media screen and (max-width: $break-big) {
        width: 31%;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;
        height: 100%;
        width: auto;
      }
    }
  }
}


.block-changable-video{
  display: none;
  .block-changable-video-unity{
    padding-top: 30px;
    display: flex;;
    flex-direction: row;
    flex-wrap: wrap;
    .unity{
      margin: 1%;
      width: 48%;
      @media screen and (max-width: $break-big) {
        margin: 0;
        width: 100%;
        padding-bottom: 20px;
      }
      iframe{
        width: 100%;
        height: 300px;
      }
    }
  }
}

/*section.objectif-meloven{*/
  /*padding-top: 280px;*/
  /*width: 100%;
  background: url("./asset/img/groupe-buildings.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;*/
  /*@media screen and (max-width: $break-big) {
    padding-top: 80px;
  }*/
  div.objectif-meloven-content{
    text-align: center;
    padding: 120px 0;
    @media screen and (max-width: $break-big) {
      padding-bottom: 0;
    }
    h1{
      max-width: 800px;
      margin: 0 auto;
      /*padding-top: 120px;*/
      font-family: "GothamBlack", sans-serif;
      font-size: 45px;
      letter-spacing: 5px;
      text-transform: uppercase;
      @media screen and (max-width: $break-big) {
        max-width:100%;
        margin: 0 auto;
        padding: 0 20px;
        font-size: 25px;
        line-height: 35px;
      }
    }
    p{
      max-width: 844px;
      margin: 0 auto;
      padding: 80px 0 80px;
      font-family: 'GilroyLight', sans-serif;
      font-size: 20px;
      line-height: 35px;
      letter-spacing: 3px;
      @media screen and (max-width: $break-big) {
        font-size: 15px;
        line-height: 25px;
        padding: 30px 20px;
      }
    }
    & > a{
      display: inline-block;
      font-family: "GothamBlack", sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      background-color: $rose;
      padding: 10px 40px;
      border-radius: 5px;
    }
  }
/*}*/

div.contact-blog-devenir{
  & > p{
    max-width: 600px;
    margin: 80px auto;
    font-family: 'GilroyRegular';
    font-size: 15px;
    text-align: center;
    line-height: 19.5px;
    letter-spacing: 2px;
    padding: 0 60px;
  }
  #signup{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    input{
      margin: 0;
      display: block;
    }
    input[type="email"]{
      padding: 10px 20px;
      border:none;
      /*border-radius: 5px;*/
      border-bottom: 2px solid rgba(44, 44, 45, 0.5);
      width: 522px;
      margin: 0 auto 60px;
      text-align: center;
      font-family: "GothamLight", sans-serif;
      font-size: 25px;
      @media screen and (max-width: $break-big) {
        max-width: 300px;
      }
    }
    /*textarea{
      width: 522px;
      height: 50px;
      margin: 0 auto;
    }*/
    @include btn-color($rose);
    input[type="submit"]{
      background-color: #3CFCC7;
      font-family: "GothamBold", sans-serif;
      font-size: 15px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      padding: 10px 40px;
      border: none;
      border-radius: 5px;
    }
  }
  a.revenir-en-arriere{
    display: block;
    /*width: 100%;
    margin: 0 auto;*/
    text-align: center;
    margin: 10px 0;
    font-family: "GothamBold", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #2d2d2d;
  }
  #successMessage{
    display: none;
    width: 300px;
    margin: 40px auto 0;
    background-color: #00a65a;
    p{
      color: #ffffff;
      font-family: "GothamBlack", sans-serif;
      font-size: 15px;
      padding: 15px 20px 10px;
    }
  }
}

div.contact-blog-soutenir{
  & > p{
    max-width: 600px;
    margin: 80px auto;
    font-family: 'GilroyRegular';
    font-size: 15px;
    text-align: center;
    line-height: 19.5px;
    letter-spacing: 2px;
    padding: 0 60px;
  }
  #signup{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    input{
      margin: 0;
      display: block;
    }
    input[type="email"]{
      padding: 10px 20px;
      border:none;
      /*border-radius: 5px;*/
      border-bottom: 2px solid rgba(44, 44, 45, 0.5);
      width: 522px;
      margin: 0 auto 60px;
      text-align: center;
      font-family: "GothamLight", sans-serif;
      font-size: 25px;
      @media screen and (max-width: $break-big) {
        max-width: 300px;
      }
    }
    @include btn-color($rose);
    input[type="submit"]{
      background-color: #3CFCC7;
      font-family: "GothamBold", sans-serif;
      font-size: 15px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      padding: 10px 40px;
      border: none;
      border-radius: 5px;
    }
  }
  a.revenir-en-arriere{
    display: block;
    /*width: 100%;
    margin: 0 auto;*/
    text-align: center;
    margin: 10px 0;
    font-family: "GothamBold", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #2d2d2d;
  }
  #successMessage{
    display: none;
    width: 300px;
    margin: 40px auto 0;
    background-color: #00a65a;
    p{
      color: #ffffff;
      font-family: "GothamBlack", sans-serif;
      font-size: 15px;
      padding: 15px 20px 10px;
    }
  }
}




header.qui-sommes-nous-header{
  width: 100%;
  height: 100vh;
  /*min-height: 850px;*/
  background: url("./asset/img/elephant-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-size: 100%;*/
  @media screen and (max-width: $break-big) {
    /*background: url("./asset/img/elephant-mini.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    min-height: 450px;
    padding: 60px 20px;*/
    height: 400px;
  }
  figure.elephant-figure{
    position: absolute;
    top: 10%;
    right: 15%;
    @media screen and (max-width: $break-big) {
      top:5%;
      right: 5px;
    }
    img{
      width: 400px;
      @media screen and (max-width: $break-big) {
        width: 200px;
      }
    }
  }
  div.qui-sommes-nous-header-container{
    max-width: 1280px;
    margin: 0 auto;
  }
  div.qui-sommes-nous-header-content{
    max-width: 413px;
    margin: 60px 220px 60px;
    @media screen and (max-width: $break-big) {
      max-width: 180px;
      margin: 0;
      padding: 60px 0 0;
    }
    h1{
      padding-top: 60px;
      font-family: "GothamBlack", sans-serif;
      font-size: 45px;
      line-height: 60px;
      letter-spacing: 5px;
      text-transform: uppercase;
      @media screen and (max-width: $break-big) {
        font-size: 20px;
        line-height: 30px;
        padding: 0 20px;
      }
    }
    p{
      padding: 40px 0 80px;
      font-family: "GilroyLight", sans-serif;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 3px;
      @media screen and (max-width: $break-big) {
        display: none;
      }
    }
  }
}

section#promotion{
  /*padding-top: 180px;*/
  width: 100%;
  background: url("./asset/img/mountain-blue-bottom.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;


}

section#goals{
  width: 100%;
  background: url("./asset/img/back-bleu.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  /*background-color: #e6edfc;*/
  padding: 100px 0 0;
  @media screen and (max-width: $break-big) {
    padding: 100px 20px 0;
  }
  & > h1{
    max-width: 800px;
    margin: 0 auto 30px;
    font-family: "GothamBlack", sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    @media screen and (max-width: $break-big) {
      font-size: 20px;
      line-height: 30px;
      padding: 20px 20px 30px;
      max-width: 400px;
      margin: 0 auto;
    }
  }
  & > h2{
    max-width: 700px;
    margin: 0 auto;
    padding: 60px 20px;
    font-family: "GothamBlack", sans-serif;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    @media screen and (max-width: $break-big) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  & > p{
    font-family: "GilroyLight", sans-serif;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 3px;
    text-align: center;
    /*padding-top: 40px;*/
    @media screen and (max-width: $break-big) {
      font-size: 13px;
      line-height: 20px;
      /*padding: 40px 40px 0;*/
    }
  }
  div.goals{
    max-width: 988px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: $break-big) {
      flex-direction: column;
      align-items: center;
    }
    article{
      width: 241px;
      margin: 80px 0 0;
      figure{
        margin: 0 auto;
        width: 83px;
        height: 83px;
        img{

        }
      }
      p{
        margin: 40px 0 0;
        font-family: "GilroyLight", sans-serif;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 3px;
      }
    }
  }
  div.btn-block-promo{
    text-align: center;
    @include btn-color($rose);
    padding: 60px 0 80px;
    /*a{
      display: inline-block;
      margin: 60px 0 80px;
      font-family: "GothamBold", sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 3px;
      background-color: $rose;
      color: #ffffff;
      text-decoration: none;
      padding: 11px 60px;
      border-radius: 5px;
      @media screen and (max-width: $break-big) {
        margin-bottom: 80px;
      }
    }*/
  }
  div.promotion{
    max-width: 988px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: $break-big) {
      flex-direction: column;
      align-items: center;
    }
    article{
      width: 241px;
      @media screen and (max-width: $break-big) {
        width: auto;
        padding: 0 20px;
        max-width: 241px;
      }
      figure{
        width: 154px;
        height: auto;
        margin: 0 auto;
        img{

        }
      }
      h1{
        padding: 40px 0 20px;
        font-family: "GothamBlack", sans-serif;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 3px;
        text-transform: uppercase;
        @media screen and (max-width: $break-big) {
          padding: 20px 0;
          font-size: 15px;
          line-height: 21px;
        }
      }
      p{
        font-family: "GilroyLight", sans-serif;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 3px;
        @media screen and (max-width: $break-big) {
          font-size: 13px;
          line-height: 19px;
          padding: 0 0 40px;
        }
      }
    }
  }
  div.btn-block-inscription{
    text-align: center;
    padding: 0 20px;
    @media screen and (max-width: $break-big) {
      margin-top: -40px;
    }

    a{
      display: inline-block;
      font-family: "GothamBold", sans-serif;
      font-size: 15px;
      letter-spacing: 3px;
      text-transform: uppercase;
      background-color: $rose;
      color: #ffffff;
      text-decoration: none;
      padding: 11px 60px;
      border-radius: 5px;
      @media screen and (max-width: $break-big) {
        padding: 10px 20px;
      }
    }
  }
}

section#confidance{
  padding: 100px 0 0;
  width: 100%;
  /*background: url("./asset/img/mountain-green.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;*/
  div.btn-block-inscription{
    text-align: center;
    a{
      display: inline-block;
      margin-bottom: 180px;
      font-family: "GothamBold", sans-serif;
      font-size: 15px;
      letter-spacing: 3px;
      text-transform: uppercase;
      background-color: $rose;
      color: #ffffff;
      text-decoration: none;
      padding: 10px 60px;
      border-radius: 5px;
      @media screen and (max-width: $break-big) {
        margin-bottom: 80px;
      }
    }
  }
  & > h1{
    font-family: "GothamBlack", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    @media screen and (max-width: $break-big) {
      font-size: 20px;
      line-height: 30px;
      max-width: 250px;
      margin: 0 auto;
    }
  }
  div.confidance{
    max-width: 988px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: $break-big) {
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
    }
    article{
      width: 282px;
      margin: 80px 0 0;
      background-color: #fff;
      padding: 60px 20px;
      figure{
        margin: 0 auto;
        width: 144px;
        height: 144px;
        border-radius: 50%;
        background-color: #AF86F8;
        img{

        }
      }
      p{
        margin: 80px 0 0;
        font-family: "GilroyLight", sans-serif;
        font-size: 15px;
        line-height: 21px;
      }
    }
  }
}


section#objectif{
  padding: 100px 0 100px;

  /*width: 100%;
  background: url("./asset/img/mountain-green-bottom.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;*/
  @media screen and (max-width: $break-big) {
    padding: 30px 0 0;
  }
  div{
    max-width: 988px;
    margin: 0 auto;
    @media screen and (max-width: $break-big) {
      padding: 0 20px;
    }
    h1{
      font-family: "GothamBlack", sans-serif;
      font-size: 45px;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-align: center;
      @media screen and (max-width: $break-big) {
        font-size: 25px;
        line-height: 35px;
        max-width: 250px;
        margin: 0 auto;
      }
    }
    p{
      max-width: 844px;
      margin: 80px auto 0;
      font-family: "GilroyLight", sans-serif;
      font-size: 20px;
      line-height: 35px;
      letter-spacing: 3px;
      text-align: center;
      @media screen and (max-width: $break-big) {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}




/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  @media screen and (max-width: $break-big) {
    top: 50px;
  }
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0 20px 60px;
    width: auto;
    max-width: 1200px;
  }
  .mySlides{
    max-width: 100%;
  }
  .mySlides img{
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    height: auto;
    @media screen and (max-width: $break-big) {
      width: 70%;
      height: auto;
    }
  }

  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  /* Hide the slides by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  @media screen and (max-width: $break-big) {
    .prev {
      left: 0;
      border-radius: 3px 0 0 3px;
    }
  }


  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  /*.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }*/

  /* Caption text */
  /*.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }*/

  img.demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  img.hover-shadow {
    transition: 0.3s;
  }

  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}