<header>
    <div role="navigation">

    </div>
    <div class="site-title">
        <a href="/"><h1 class="logo"><img src="{{ asset('asset/img/svg/logo-desktop.svg') }}" alt="Meloven"></h1></a>

        <div>
            <h2>Découvrez et soutenez les artistes de rue !</h2>
            <p>Meloven, met en avant les artistes de rues en organisant des concerts à ciel ouvert.</p>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="#artiste-de-rue">ARTISTE DE RUE</a></li>
            <li><a id="iAm" href="#newsletter">JE SUIS UN ARTISTE</a></li>
            <li><a id="iWant" href="#newsletter">Soutenir des artistes</a></li>
            <li><a href="mailto:contact@meloven.fr">Contact</a></li>
            <li>
                <div class="rs-nav">
                    <ul>
                        <li><a href="https://www.facebook.com/Meloven.fr" target="_blank"><img src="{{ asset('asset/img/svg/Facebook-1.svg') }}" alt="Facebook"></a></li>
                        <li><a href="https://twitter.com/melovenfr" target="_blank"><img src="{{ asset('asset/img/svg/Twitter-1.svg') }}" alt="Twitter"></a></li>
                        <li><a href="https://www.instagram.com/melovenfr/" target="_blank"><img src="{{ asset('asset/img/svg/Instagram-1.svg') }}" alt="Instagram"></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>