{% set asset_base = '/media/' %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>Meloven</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <!-- Head -->
        {% block head %}{% endblock %}
        {% include('analytics/analyticsHead.html.twig') %}
    </head>
    <body>
        {% include('analytics/analyticsBody.html.twig') %}

        <div class="burger-menu">
            <label>
                <input type='checkbox'>
                <span class='menu'>
                    <span class='hamburger'></span>
                </span>
                <ul>
                    <li><a href="/"><h1 class="logo-burger"><img src="{{ asset('asset/img/svg/logo-desktop.svg') }}" alt="Meloven"></h1></a></li>
                    <li><a href="#artiste-de-rue">Artiste de rue</a></li>
                    <li><a id="iAm" href="#newsletter">Je suis un artiste</a></li>
                    <li><a id="iWant" href="#newsletter">Soutenir des artistes</a></li>
                    <li><a href="mailto:contact@meloven.fr">Contact</a></li>
                    <li><a href="#" class="disable">Mentions légales</a></li>
                    <li>
                        <div class="burger-rs">
                            <h1>Suis-nous sur nos réseaux !</h1>
                            <ul>
                                <li><a href="https://www.facebook.com/Meloven.fr" target="_blank"><img src="{{ asset('asset/img/svg/Facebook.svg') }}" alt="Facebook"></a></li>
                                <li><a href="https://twitter.com/melovenfr" target="_blank"><img src="{{ asset('asset/img/svg/Twitter.svg') }}" alt="Twitter"></a></li>
                                <li><a href="https://www.instagram.com/melovenfr/" target="_blank"><img src="{{ asset('asset/img/svg/Instagram.svg') }}" alt="Instagram"></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </label>
        </div>


        <div class="wrapper">
            <!-- Header and Nav -->
            {% include('includes/header.html.twig') %}
            <!-- Contenu -->
            {% block content %}{% endblock %}
        </div>
        <!-- Footer -->
        {% include('includes/footer.html.twig') %}
        <!-- Scripts -->
        <!-- Hotjar Tracking Code for https://meloven.fr/ -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:907964,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
