{% extends 'base-site.html.twig' %}
{% block head %}{% endblock %}
    {% block content %}

        <div>
            <header>
                <h1>Default error</h1>
            </header>
            <p>Page non trouvé</p>
            <p><a href="{{ path('home') }}">Retour à l'accueil</a></p>
        </div>

    {% endblock %}
